/*header, nav*/

* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
body{
    max-width: 100%;
    background-color: #161f2e;
}
header{
    display: flex;
    align-items: center;
    padding: 30px;
    background: #0d1420;
}
header li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
.menu-mobile-img{
    z-index: 101;
    font-size: 45px;
    display: none;
    cursor: pointer;
    color: #fff;
}
.menu-mobile{
    z-index: 99;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0px;
    left: 0;
    display: none;
    padding-top: 90px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #0d1420;
    overflow: hidden;
    transition: height 0.5s;
}
.menu-mobile.open{
    height: 300px;
}
.menu-mobile__links ul{
    display: flex;
}
.menu-mobile__links li{
    list-style: none;
    text-align: center;
    margin-top: 10px;
}
.menu-mobile__links li a{
    display: block;
    padding: 10px 25px;
    border-radius: 50px;
    color: #fefefe;
    margin: 0 5px;
}
.menu-mobile__links li a:hover{
    background-color: rgb(35, 38, 61);
}
.menu-mobile__links li:nth-child(5) a:hover{
    background-color: transparent;
}

.menu-mobile__links button{
    padding: 9px 25px;
    background-color: #2b4574;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.menu-mobile__links button:hover {
    background-color: rgba(43, 69, 116, 0.8);
}

.navbar{
    flex: 80%;
    display: flex;
    overflow: hidden;
    z-index: 100;
}

.header__logo{
    flex: 65%;
    display: flex;
    position: relative;
}
.header__logo__img{
    z-index: 2;
    width: 200px;
    cursor: pointer;
}

.navbar__links{
    flex: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.features__container{
    background-color: #161f2e;
    width: 100vw !important;
    /* Additional styling to ensure no horizontal scroll */
    box-sizing: border-box; /* Includes padding and border in the element's width and height */
    margin-left: auto;
    margin-right: auto;
    /* Remove default margin/padding that could cause horizontal scrolling */
    padding-left: 0;
    padding-right: 0;
}
.features::after{
    visibility: hidden;
}


.navbar__links li{
    display: inline-block;
    padding: 0px 20px;
}

.navbar__links li a{
    transition: all 0.3s ease 0s;
}

.navbar__links li a:hover{
    color: #b5bec4;
}

.active{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.login-btn {
    z-index: 100;
}

.login-btn button{
    margin-right: 60px;
    padding: 9px 25px;
    background-color: rgba(43, 69, 116, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.login-btn button:hover{
    background-color: rgba(43, 69, 116, 0.8);
}

@media only screen and (max-width: 900px){
    .navbar__links{
        display: none;
    }
    .login-btn{
        display: none;
    }
    .menu-mobile-img{
        display: block;
    }
    .menu-mobile{
        display: flex;
    }

    .service_sectionx .animated-title {
        /* Adjust the properties as needed for mobile screens */
        margin-bottom: 0; /* Increased spacing for mobile screens */
        opacity: 1; /* Adjusted for mobile, if needed */
        transform: translateY(0); /* Adjusted for mobile, if needed */
        z-index: 50; /* Ensure the title is on top of the image */
    }

    .service_sectionx > * {
        margin-bottom: 10vh;
    }

    .service_sectionx > *:last-child {
        margin-bottom: 10vh; /* Remove margin from the last element */
    }

    .service_sectionx .square-section {
        width: 90vw; /* Adjusted width for mobile screens */
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly !important;
        align-items: center; /* Center align the squares */
    }
    
    .service_sectionx .square {
        width: 90%;
        /* Adjust margins for top and bottom */
        margin-top: 5vw; /* Half of 10vw, as it will be combined with the bottom margin of the previous element */
        margin-bottom: 5vw; /* Half of 10vw */
        /* Other styles for .square */
    }
    
    /* You might need this to handle the first and last square */
    .square:first-child {
        margin-top: 0; /* Remove top margin for the first square */
    }
    
    .square:last-child {
        margin-bottom: 0; /* Remove bottom margin for the last square */
    }
    .square-section {
        margin-top:60vh;
        display: flex;
        flex-direction: column;
        height: fit-content!important;
        justify-content: space-evenly !important;
        align-items: center; /* Center align the squares */
    }

    .service1 .square-section .square {
        margin-top: 5vw; /* Half of 10vw */
        margin-bottom: 5vw; /* Half of 10vw */
        /* Other styles for .square */
    }

    .service1 .square-section .square:first-child {
        margin-top: 0; /* Remove top margin for the first square */
    }

    .service1 .square-section .square:last-child {
        margin-bottom: 0; /* Remove bottom margin for the last square */
    }
    
    .wrapper .remember-forgot{
        flex-direction: column;
        align-items: center;
    }
    .intro{
        background: url(servicii1.png);;
    }
    .square{
        margin: 2rem 0 0 0!important;
    }
    .service{
        height: fit-content!important;
        opacity: 1!important;
    }
    #service1{
        height: fit-content!important;
    }
    .service1, .service2, .service3 {
        margin-top: 0!important;
        flex-direction: column!important;
        height: fit-content!important;
        opacity: 1!important;
    }
    .service1__image, .service2__image, .service3__image{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1!important;
        opacity: 1!important;
        width: 100vw!important;
        margin-left: 0!important;
        border-radius: 0!important;
        height: fit-content!important;
    }
    .service1__content, .service2__content, .service3__content{
        opacity: 1!important;
        flex: 1!important;
        margin-top: 1rem;
        padding-left: 0!important;
        align-items: flex-start!important;
        height: fit-content!important;
    }
    #service2_img, #service3_img{
        order:1!important;
    }
    #service2_img, #service3_img{
        order:2!important;
    }
    .square-section{
        margin-top: 150px!important;
        width: 100%!important;;
    }
    #conbg, #conbg2, #conbg3{
        width: 80vw;
    }
    .bg2 {
        background-position: center!important;
      }
    .bg1 {
        background-position: center!important;
    }
    .bg {

        background-position: center!important;
    }
    .service1__content-info, .service2__content-info, .service3__content-info {
        width: 100%!important;
        opacity: 1!important;
        border-radius: 0!important;
    }
    .service-sectionx {
        margin-bottom: 20vh;
        background-color: #161f2e;
        height: fit-content!important;
    }
    
    /* To ensure the last element in a series doesn't have a bottom margin */
    .service-sectionx :last-child {
        margin-bottom: 0;
    }
    .footer__container ul{
        margin: 0;
        padding: 0;
    }
    
}

/* Servicii */

.intro{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(servicii1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.intro__content{
    background-color: rgba(0, 0, 0, .6);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro__content h1{
    text-align: center;
    font-size: clamp(1.5rem, 0.5rem + 2.5vw, 3rem);
    color: #FAFAFA;
}
.intro__content p{
    text-align: center;
    font-size: clamp(1.5rem, 0.75rem + 1.25vw, 2rem);
    color: #FAFAFA;
}

.service-sectionx {
    margin-bottom: 20vh;
    background-color: #161f2e;
}

/* To ensure the last element in a series doesn't have a bottom margin */
.service-sectionx :last-child {
    margin-bottom: 0;
}

/*footer*/
footer{
    background-color: #0d1420;
    width: 100%;
}

.footer__container{
    width: 100%;
    padding: 70px 30px 20px 30px;
}
.footer__container-social{
    display: flex;
    justify-content: center;
}
.footer__container-social a{
    text-decoration: none;
    padding: 10px;
    background-color: #f0ebeb;
    margin: 10px;
    border-radius: 50%;
}
.footer__container-social a i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}
.footer__container-social a:hover{
    background-color: #111;
    transition: 0.5s;
}

.footer__container-social a:hover i{
    color: #fff;
    transition: 0.5s;
}
.footer__container-nav{
    margin: 30px 0;
}
.footer__container-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footer__container-nav ul li a{
    color:#fff;
    margin: min(30px, 5vw);
    text-decoration: none;
    font-size: clamp(.5rem, 2vw + .5rem, 1rem);
    opacity: 0.7;
    transition: 0.5s;
}
.footer__container-navul li a:hover{
    opacity: 1;
}
.footer__copy{
    color: #fff;
    background-color: black;
    padding: 10px;
    text-align: center;
    height: 2.5rem;
}
.footer__copy p{
    color: #c7c7c7;
}
.footer__copy-name{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/*go on */


.hero-slider {
    width: 100%;
    height:90vh;
    overflow: hidden;
    position: relative;
}

.slider-item {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; /* Ensure the image is positioned absolutely within slider-item */
    z-index: -1; /* Place image behind text content */
}

.slider-item.active {
    opacity: 1;
}

.square-section {
    margin-top: 15vh;
    position: relative; /* Position relative to its parent */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Take full width of the slider-item */
    z-index: 2; /* Higher z-index to be on top of the image */
    text-align: center;
    padding: 20px;
    background-color: #161f2e;
}

.square {
    border-radius: 15px;
    padding: 1rem;
    margin: 0 40px; /* Reduced margin for better spacing */
    display: inline-flex; /* Use inline-flex for better alignment */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center     ; /* Center content horizontally */
    width: 25vw; /* Auto width based on content */
    height: fit-content; /* Auto height based on content */
    min-height: 350px;
    background: linear-gradient(to bottom, #8e44ad, #913d88);
    color: #fff; /* Ensure text is white for readability */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.square h2, .square p {
    margin: 10px 0; /* Uniform margin for spacing */
    color:#FAFAFA;
}

.square:hover {
    transform: scale(1.05); /* Slightly less scale for subtler effect */
    background: linear-gradient(to bottom, #913d88, #8e44ad); /* Invert gradient on hover */
}

@keyframes colorFade {
    0%, 100% {
        background: linear-gradient(to bottom, #8e44ad, #913d88);
    }
    50% {
        background: linear-gradient(to bottom, #913d88, #8e44ad);
    }
}


.square h2 {
    font-weight: bold; /* Bold font for the headline */
    font-size: 24px; /* Adjust the font size as needed */
    font-family: 'Your Bold Futuristic Font', sans-serif; /* Specify the bold futuristic font */
    margin: 0; /* Remove default margin for the h2 element */
}

.square p {
    font-size: 16px; /* Adjust the font size for the content */
    font-weight: normal; /* Set the font weight for the content as needed */
    margin: 10px 0; /* Add spacing between the headline and content */
}

.square:hover {
    transform: scale(1.1);
}

.service {
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease;
    background-color: #161f2e;
}


.animated-title {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    margin-bottom: 1vh;
}

.animated-index {
    font-size: clamp(1rem, 1rem + 2.5vw, 3rem);
    margin-right: 20px;
    color: #3498db;
    border: 2px solid #3498db;
    padding: 5px 10px; /* Add padding for a border around the text */
    border-radius: 5px; /* Add rounded corners for a modern look */
  }
  
  .ani-title {
    font-size: clamp(1rem, 1rem + 2.5vw, 3rem);
    color: #fff;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  
  .in-viewport {
    opacity: 1;
    transform: translateY(0);
  }


  .fade-in-image {
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  
  .fade-in-image.in-viewport {
    opacity: 1;
  }

  .wrapper {
    width: min(420px, 100vw);
    background: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, .2);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

/*SERVICII CU CAROUSEL*/
.service-section {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.title h2 {
    font-size: 24px;
    color: #333;
}

.description p {
    font-size: 16px;
    color: #666;
}

.photo-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: none;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* slider1 servicii */

.conbg {
    width: 100%;
    height: 500px;
    z-index: 20;
    display: flex;
    justify-content: center;
  }
  .bg2 {
    z-index: 20;
    position: relative;
    width: 70%;
    transform: rotate(10deg);
    background-image: url('i2.jpg');
    background-size: cover;
    background-position: right -50px;
    background-color: lightslategray;   
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  }
  .bg1 {
    z-index: 20;
    position: relative;
    margin: auto;
    transform: rotate(-5deg);
    background-image: url('4.jpeg');
    background-size: cover;
    background-position: right -70px;
    background-color: lightslategray;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  }
  .bg {
    z-index: 21;
    position: relative;
    margin: auto;
    transform: rotate(-5deg);
    height: 500px;
    background-image: url('5.jpeg');
    background-size: cover;
    background-position: right -50px;
    background-color: lightslategray;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  }

  

  /*final servicii*/
  .bg-text {
    width: 100%;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
  }
  .bg-text a {
    margin: 5px;
    float: right;
  }
  
  #bg1:target .bg {
    -webkit-animation: ciut 1s forwards;
            animation: ciut 1s forwards;
  }
  #bg1:target {
    -webkit-animation: fre 0.3s forwards;
            animation: fre 0.3s forwards;
  }
  #bg2:target .bg1 {
    -webkit-animation: ciut 1s forwards;
            animation: ciut 1s forwards;
  }
  #bg2:target {
    -webkit-animation: fre1 0.3s forwards;
            animation: fre1 0.3s forwards;
  }
  #conbg:target .bg2 {
    -webkit-animation: ciut1 1s;
            animation: ciut1 1s;
  }
  @-webkit-keyframes fre1 {
    0% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes fre1 {
    0% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes fre {
    0% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
  @keyframes fre {
    0% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
  @-webkit-keyframes ciut {
    0% {
      opacity: 1;
      transform: rotate(-5deg) scale(1);
    }
    100% {
      opacity: 0;
      transform: rotate(360deg) scale(0);
    }
  }
  @keyframes ciut {
    0% {
      opacity: 1;
      transform: rotate(-5deg) scale(1);
    }
    100% {
      opacity: 0;
      transform: rotate(360deg) scale(0);
    }
  }
  @-webkit-keyframes ciut1 {
    0% {
      opacity: 0;
      transform: rotate(0deg) scale(0);
    }
    100% {
      opacity: 1;
      transform: rotate(370deg) scale(1);
    }
  }
  @keyframes ciut1 {
    0% {
      opacity: 0;
      transform: rotate(0deg) scale(0);
    }
    100% {
      opacity: 1;
      transform: rotate(370deg) scale(1);
    }
  }

  /* Slider2 styles */
  .slider2 .conbg {
    /* Inherits styles from .conbg as it's generic */
  }
  #conbg2 .bg2 {
    /* Inherits and overrides necessary properties */
    background-image: url('m1.jpeg') !important;
  }
  #conbg2 .bg1 {
    /* Inherits and overrides necessary properties */
    background-image: url('m2.jpg') !important;
  }
  #conbg2 .bg {
    /* Inherits and overrides necessary properties */
    background-image: url('m3.jpg')!important;
  }
  
  /* Slider3 styles */
  .slider3 .conbg {
    /* Inherits styles from .conbg as it's generic */
  }
  .slider3 .conbg .bg2 {
    /* Inherits and overrides necessary properties */
    background-image: url('d1.jpeg');
  }
  .slider3 .conbg .bg1 {
    /* Inherits and overrides necessary properties */
    background-image: url('d2.jpg');
  }
  .slider3 .conbg .bg {
    /* Inherits and overrides necessary properties */
    background-image: url('d3.jpg');
  }

  @media only screen and (max-width: 900px) {
    .slider3 .conbg .bg2 {
        background-image: url('dm1.png');
        background-position: center;
    }

    .slider3 .conbg .bg1 {
        background-image: url('dm2.png');
        background-position: center;
    }

    .slider3 .conbg .bg {
        background-image: url('dm3.png');
        background-position: center;
    }
}

@media only screen and (max-width: 900px) {
    .bg2 {
        background-image: url('ps1.png');
        background-position: center;
    }

    .bg1 {
        background-image: url('ps2.png');
        background-position: center;
    }

    .bg {
        background-image: url('ps3.png');
        background-position: center;
    }
}

@media only screen and (max-width: 900px) {
    #conbg2 .bg2 {
        background-image: url('mo1.png')!important;
        background-position: center;
    }

    #conbg2 .bg1 {
        background-image: url('mo2.png')!important;
        background-position: center;
    }

    #conbg2 .bg {
        background-image: url('mo3.png')!important;
        background-position: center;
    }
}

  
  /* Adjustments for target-based animations and interactions */
  #bg3:target .bg {
    -webkit-animation: ciut 1s forwards;
            animation: ciut 1s forwards;
  }
  #bg3:target {
    -webkit-animation: fre 0.3s forwards;
            animation: fre 0.3s forwards;
  }
  #bg4:target .bg1 {
    -webkit-animation: ciut 1s forwards;
            animation: ciut 1s forwards;
  }
  #bg4:target {
    -webkit-animation: fre1 0.3s forwards;
            animation: fre1 0.3s forwards;
  }
  #conbg2:target .bg2, #conbg3:target .bg2 {
    -webkit-animation: ciut1 1s forwards;
            animation: ciut1 1s forwards;
  }

  #bg5:target .bg {
    -webkit-animation: ciut 1s forwards;
            animation: ciut 1s forwards;
  }
  #bg5:target {
    -webkit-animation: fre 0.3s forwards;
            animation: fre 0.3s forwards;
  }
  #bg6:target .bg1 {
    -webkit-animation: ciut 1s forwards;
            animation: ciut 1s forwards;
  }
  #bg6:target {
    -webkit-animation: fre1 0.3s forwards;
            animation: fre1 0.3s forwards;
  }
  /* You may need to create new animations or adjust existing ones to fit the new sliders */
  
  .hero-content{
    background-color: rgba(0, 0, 0, .5);
  }