@charset "UTF-8";
:root {
  --color-primary: #ee75d2;
  --color-secondary: #75d8ee;
  --color-tertiary: #deee75;
  --color-quaternary: #9375ee;
  --color-bg: #0f021f;
}
.cd__main{
   position: relative;
   
}

@property --duration {
  syntax: "<time>";
  inherits: true;
  initial-value: 0s;
}
@property --wall-random {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
.walls {
  height: 100vh;
  width: 100vw;
  position: relative;
  perspective: 800px;
  --duration: 18s;
}

.wall {
  transform-style: preserve-3d;
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: minmax(1rem, auto);
  grid-auto-flow: column;
  gap: 1rem;
  transform: translate3d(calc(var(--wi) * var(--wall-random) * 10rem), 0, calc(6rem * var(--wi)));
}
.wall:first-child {
  filter: blur(2rem);
}
.wall:nth-child(2) {
  filter: blur(1rem);
}
.wall:last-child {
  filter: blur(3rem);
}
.wall:nth-child(1) {
  --wall-index: 1;
  --wall-random: 0.5447370406;
}
.wall:nth-child(2) {
  --wall-index: 2;
  --wall-random: 0.9507178643;
}
.wall:nth-child(3) {
  --wall-index: 3;
  --wall-random: 0.7895384538;
}
.wall:nth-child(4) {
  --wall-index: 4;
  --wall-random: 0.945783152;
}
.wall:nth-child(5) {
  --wall-index: 5;
  --wall-random: 0.0519628046;
}
.wall:nth-child(6) {
  --wall-index: 6;
  --wall-random: 0.1284761069;
}
.wall:nth-child(7) {
  --wall-index: 7;
  --wall-random: 0.6401802418;
}
.wall:nth-child(8) {
  --wall-index: 8;
  --wall-random: 0.1557274225;
}
.wall:nth-child(9) {
  --wall-index: 9;
  --wall-random: 0.2165341808;
}
.wall:nth-child(10) {
  --wall-index: 10;
  --wall-random: 0.5810259456;
}
.wall:nth-child(11) {
  --wall-index: 11;
  --wall-random: 0.5605645695;
}
.wall:nth-child(12) {
  --wall-index: 12;
  --wall-random: 0.4717880549;
}
.wall:nth-child(13) {
  --wall-index: 13;
  --wall-random: 0.1783909287;
}
.wall:nth-child(14) {
  --wall-index: 14;
  --wall-random: 0.2989588068;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  gap: 0.25rem;
  height: 100vh;
  transform: translateY(-120vh);
  -webkit-animation: fall var(--duration) ease-in-out infinite;
          animation: fall var(--duration) ease-in-out infinite;
  -webkit-animation-duration: calc( var(--duration) * max(var(--r0), var(--r1), var(--r2)) );
          animation-duration: calc( var(--duration) * max(var(--r0), var(--r1), var(--r2)) );
  -webkit-animation-delay: calc(var(--wall-random) * var(--r0) * 10s);
          animation-delay: calc(var(--wall-random) * var(--r0) * 10s);
}
.column:nth-child(1) {
  --r0: 0.1513860616;
  --r1: 0.7471817114;
  --r2: 0.9803949585;
}
.column:nth-child(2) {
  --r0: 0.6738104569;
  --r1: 0.8924399979;
  --r2: 0.1415267495;
}
.column:nth-child(3) {
  --r0: 0.634204925;
  --r1: 0.5418521616;
  --r2: 0.6852280533;
}
.column:nth-child(4) {
  --r0: 0.0311385145;
  --r1: 0.3077209892;
  --r2: 0.6948988404;
}
.column:nth-child(5) {
  --r0: 0.0571789406;
  --r1: 0.4143664862;
  --r2: 0.4288941666;
}
.column:nth-child(6) {
  --r0: 0.3929015454;
  --r1: 0.1623749216;
  --r2: 0.5939312973;
}
.column:nth-child(7) {
  --r0: 0.8571833589;
  --r1: 0.7537518329;
  --r2: 0.5685896324;
}
.column:nth-child(8) {
  --r0: 0.5297832424;
  --r1: 0.5178238956;
  --r2: 0.0088799006;
}
.column:nth-child(9) {
  --r0: 0.9670402225;
  --r1: 0.7250114861;
  --r2: 0.3843982427;
}
.column:nth-child(10) {
  --r0: 0.7653170583;
  --r1: 0.0013120861;
  --r2: 0.6762471714;
}
.column:nth-child(11) {
  --r0: 0.6479314799;
  --r1: 0.5289092941;
  --r2: 0.5395482372;
}
.column:nth-child(12) {
  --r0: 0.3003918669;
  --r1: 0.931348145;
  --r2: 0.6366899016;
}
.column:nth-child(13) {
  --r0: 0.6101156037;
  --r1: 0.2032563707;
  --r2: 0.1889825577;
}
.column:nth-child(14) {
  --r0: 0.8222808223;
  --r1: 0.7911236906;
  --r2: 0.3723912571;
}
.column:nth-child(15) {
  --r0: 0.1699528183;
  --r1: 0.9144691726;
  --r2: 0.4073587255;
}
.column:nth-child(16) {
  --r0: 0.8525298398;
  --r1: 0.1914316993;
  --r2: 0.8759152941;
}
.column:nth-child(17) {
  --r0: 0.9968029665;
  --r1: 0.8983464742;
  --r2: 0.6783588787;
}
.column:nth-child(18) {
  --r0: 0.0429788105;
  --r1: 0.9471493352;
  --r2: 0.1494165506;
}
.column:nth-child(19) {
  --r0: 0.0833133954;
  --r1: 0.4851811293;
  --r2: 0.1374121058;
}
.column:nth-child(20) {
  --r0: 0.6366986503;
  --r1: 0.877094067;
  --r2: 0.0477843649;
}
.column:nth-child(21) {
  --r0: 0.6459932395;
  --r1: 0.7002727048;
  --r2: 0.4124787448;
}
.column:nth-child(22) {
  --r0: 0.2705966706;
  --r1: 0.9633326533;
  --r2: 0.2349812463;
}
.column:nth-child(23) {
  --r0: 0.9328211728;
  --r1: 0.7429065598;
  --r2: 0.9791202146;
}
.column:nth-child(24) {
  --r0: 0.0651507285;
  --r1: 0.4342289438;
  --r2: 0.0454161708;
}
.column:nth-child(25) {
  --r0: 0.4383015286;
  --r1: 0.4174471325;
  --r2: 0.5506324275;
}
.column:nth-child(26) {
  --r0: 0.7583497638;
  --r1: 0.4492617676;
  --r2: 0.4858178857;
}
.column:nth-child(27) {
  --r0: 0.1777292976;
  --r1: 0.3992000376;
  --r2: 0.7321413682;
}
.column:nth-child(28) {
  --r0: 0.5889164591;
  --r1: 0.1841286235;
  --r2: 0.1727573377;
}
.column:nth-child(29) {
  --r0: 0.4885265049;
  --r1: 0.0635572672;
  --r2: 0.0426768548;
}
.column:nth-child(30) {
  --r0: 0.1789676083;
  --r1: 0.7550481412;
  --r2: 0.2289964957;
}

.variant {
  display: flex;
  flex-direction: column-reverse;
  -webkit-mask: linear-gradient(to bottom, transparent 50%, black);
          mask: linear-gradient(to bottom, transparent 50%, black);
  background: linear-gradient(to bottom, var(--color-secondary) 70%, var(--color-primary) 90%, var(--color-tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.variant:nth-child(2) {
  transform-style: preserve-3d;
  -webkit-animation: variant 0.2s ease-in-out infinite;
          animation: variant 0.2s ease-in-out infinite;
  position: absolute;
  inset: 0;
}

@-webkit-keyframes variant {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 0.3;
  }
  50% {
    opacity: 0.2;
    transform: translate3d(0.5rem, -1rem, 1rem);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes variant {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 0.3;
  }
  50% {
    opacity: 0.2;
    transform: translate3d(0.5rem, -1rem, 1rem);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fall {
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  to {
    transform: translateY(2vh);
    opacity: 0;
  }
}
@keyframes fall {
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  to {
    transform: translateY(2vh);
    opacity: 0;
  }
}
.drop {
  display: grid;
  place-items: center;
}
.drop:first-child {
  position: relative;
}
.drop:first-child:after {
  display: grid;
  place-items: center;
  content: "✨";
  -webkit-text-fill-color: var(--color-primary);
  position: absolute;
  inset: 0;
  z-index: 0;
}

body{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
  font-family: "Road Rage", "Helvetica Neue", "serif";
  font-weight: bold;
  overflow: hidden;
  background: linear-gradient(to bottom, var(--color-bg), black) !important;
  color: var(--color-primary);
}

a.labs-follow-me {
  left: 2rem;
  right: 2rem;
  bottom: 1rem;
  top: unset;
  text-align: center;
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 50rem) {
  :root {
    font-size: 100%;
  }
}

.button-container1 {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:11;
}

.cool-button {
  background-color: #6a1b9a;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  z-index: 1000;
  position: relative;
  overflow: hidden;
  animation: fadeIn 5s ease-in-out forwards; /* Apply the fade-in animation */
  margin: 0 20vh;
}

.cool-button:hover {
  background-color: #ffffff;
}

.cool-button::before {
  content: '';
  position: absolute;
  background: radial-gradient(circle, #b91fd8, transparent);
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.cool-button:hover::before {
  transform: scale(2);
  transition: transform 0.3s ease;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px; /* Adjust the size of the logo as needed */
  opacity: 0; /* Start with zero opacity */
  animation: fadeIn 2s ease-in-out forwards; /* Apply the fade-in animation */
  z-index: 22;
}

.header__logo{
  flex: 65%;
  display: flex;
  position: relative;
}
.header__logo__img{
  z-index: 2;
  width: 200px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.container {
  transform-origin: center; /* Ensure zooming in happens from the center */
  transition: transform 0.3s ease; /* Smooth transition for the transform */
}

@media (max-width: 768px) {
  .container {
    /* Apply a zoom effect for screens that are 768px wide or less */
    /* This replaces the need to use --wi for zooming */
    transform: scale(1.9); /* Example zoom level; adjust as needed */
  }
}

